calibre/.config/calibre/gui.json
audacity/.config/audacity/audacity.cfg
audacity/.config/audacity/pluginsettings.cfg
calibre/.config/calibre/plugins/Job Spy.json
cutter/.config/rizin/cutter.ini
rpi-imager/.config/Raspberry Pi/Imager.conf
eww/.config/eww/scripts/network_utils/__pycache__/check_network.cpython-313.pyc
eww/.config/eww/scripts/utils/__pycache__/clamp.cpython-313.pyc
eww/.config/eww/scripts/utils/__pycache__/clamp.cpython-313.pyc
eww/.config/eww/scripts/utils/__pycache__/eww_object_generator.cpython-313.pyc
