@define-color background rgba(15,27,53,0.9);
@define-color hover rgba(70, 75, 90, 0.9);
@define-color active rgba(97, 175, 239, 0.9);

* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font Propo";
  font-weight: bold;
  font-size: 16px;
  color: #dcdfe1;
}

#waybar {
  background-color: transparent;
  padding: 0px;
}

/* Islands base-stylings */
  #hardware, #tray, #workspaces, #system, #power {
    background-color: @background;
    border-radius: 16px;
  }

/* Module Stylings */
  #hardware {
    margin-left: 4px;
  }

  #power {
    margin-right: 4px;
  }

  #hardware > widget *,
  #tray > widget > * {
    padding: 8px;
  }

  #system > widget *,
  #power > widget * {
    padding: 0px 8px;
  }
  
  * > * > widget * {
    border-radius: 16px;
  }
  * > * > widget *:hover {
    background-color: @hover;
  }

/* Workspace Stylings */
  #workspaces button.active {
    background-color: @active;
  }
